<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Book Shop</a>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">

                <% if (session && session.user) { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/my-orders">
                            View Orders History
                        </a>
                    </li>
                <% } %>

                <li class="nav-item">
                    <a class="nav-link text-light" href="/user">
                        <i class="bi bi-key-fill"></i>
                        User | Logout
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">

                <% if (request && request.path === '/') { %>
                    <li class="nav-item">
                        <a class="nav-link text-light"
                           href="#"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#filtersOffcanvas"
                           aria-controls="filtersOffcanvas">
                            <i class="bi bi-funnel-fill"></i> Filter
                        </a>
                    </li>
                <% } %>

            <% if (session && session.user) { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/wishlist">
                            <i class="bi bi-heart-fill"></i> Wishlist
                        </a>
                    </li>
                <% } %>

                <li class="nav-item">
                    <a class="nav-link text-light" href="/cart" id="cos-count">
                        <i class="fas fa-shopping-cart"></i> Shopping Cart
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
