.modal-content.login-modal {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

.login-image {
    background-image: url("photos/photo5.jpg");
    background-size: cover;
    background-position: center;
}
